In [5]:
import pandas as pd

df = pd.read_excel('data/data.xlsx')
df.head()

,Unnamed: 0,temp-opt,temp-max,rainfall-opt,rainfall-max,ph-opt,ph-max,soil-type,soil-type-2
0,bugday,15-23,5-27,750-900,300-1600,5-7,4.5 – 8.5,alluvial,NaN
1,arpa,15-20,2-40,500-1000,200-2000,6.5-7.5,6-8,alluvial,NaN
2,misir,18-33,10-47,600-1200,400-1800,5-7,4.5-8.5,alluvial,black
3,pirinc,20-30,10-36,1500-2000,1000-4000,5.5-7,4.5-9,alluvial,clay
4,tutun,15-30,7-35,500-750,350-3000,5-6.5,4.5-7.5,black,NaN

In [6]:
#split the columns temp-opt, temp-max, rainfall-opt, rainfall-max, ph-opt, ph-max into two by the seperator "-"
df[['temp-opt-min','temp-opt-max']] = df['temp-opt'].str.split('-',expand=True)
df[['temp-crt-min','temp-crt-max']] = df['temp-max'].str.split('-',expand=True)
df[['rainfall-opt-min','rainfall-opt-max']] = df['rainfall-opt'].str.split('-',expand=True)
df[['rainfall-crt-min','rainfall-crt-max']] = df['rainfall-max'].str.split('-',expand=True)
df[['ph-opt-min','ph-opt-max']] = df['ph-opt'].str.split('-',expand=True)
df[['ph-crt-min','ph-crt-max']] = df['ph-max'].str.split('-',expand=True)

#drop the original columns
df.drop(['temp-opt','temp-max','rainfall-opt','rainfall-max','ph-opt','ph-max'],axis=1,inplace=True)

In [7]:
df.columns

Index(['Unnamed: 0', 'soil-type', 'soil-type-2', 'temp-opt-min',
       'temp-opt-max', 'temp-crt-min', 'temp-crt-max', 'rainfall-opt-min',
       'rainfall-opt-max', 'rainfall-crt-min', 'rainfall-crt-max',
       'ph-opt-min', 'ph-opt-max', 'ph-crt-min', 'ph-crt-max'],
      dtype='object')

In [8]:
#Fixing the column names and dropping rows with missing values
df.rename(columns={"Unnamed: 0":"crop"},inplace=True)
df.dropna(subset=['soil-type'], inplace=True)
df.to_excel('data/lookup.xlsx',index=False)